/* Style pour la section Find a Doctor */

  
  .search__doctor {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 30%;
    box-sizing: border-box;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #230a61; /* Couleur du bouton */
    color: #fff; /* Couleur du texte */
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #1a0747; /* Couleur au survol */
  }
  